#include "../common-pinctrl.dtsi"

/* We're using nrfx directly, so disable Zephyr's SPI driver */
&spi1 {
    status = "disabled";
};

/* Still need to release NFC pins for GPIO use */
&gpio0 {
    status = "okay";
};